body {
    background-color: #eae0e0;
     font-family: "Roboto", sans-serif;

}
.my-app{
    background-color: whitesmoke;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px #7f69e914;
    padding: 30px;
    border-radius: 16px;

}
.search-form-input{
    background-color:  #eae0e0;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
background-color:  rgb(238, 135, 152);
padding: 15px 30px;
border: none;
border-radius: 6px;
color: black;
font-size: 16px;
margin-left: 5px;


}