body {
    background-color: #eae0e0;
     font-family: "Roboto", sans-serif;

}
.my-app{
    background-color: rgb(251, 236, 208);
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px #7f69e914;
    padding: 30px;
    border-radius: 16px;

}

header{
    border-bottom: 1px solid #eae0e0;
    padding: 0 0 30px 0;
}
a {
    color: blue;
}
.search-form-input{
    background-color:  #eae0e0;
    border: none;
    border-radius: 6px;
    width: 80%;
    font-size: 16px;
    padding: 15px 20px;
}
.search-form-button{
background-color:  rgb(238, 135, 152);
padding: 15px 30px;
border: none;
border-radius: 6px;
color: black;
font-size: 16px;
margin-left: 5px;


}
main {
    padding: 30px 0;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}
.weather-app-city {
    margin: 0;
    font-size: 38px;
    line-height: 48px;

}
.weather-app-details{
    font-size: 16px;
    line-height: 25px;
    font-weight: 500;
    color: black;


}
.weather-app-details strong {
    color:  #dc3545;
}
.weather-app-temperature-container{
    display: flex;
}
.weather-app-degrees{
    font-size: 85px;
    font-weight: bold;

}
.weather-app-emoji{
    width: 88px;
    height: 88px;
    margin-left: 10px;

}
.weather-app-unit{
    margin-top: 10px;
    font-size: 28px;

}
.weather-forecast{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}
.weather-forecast-date{
    text-align: center;
    color: rgba(50, 11, 227, 0.4);
    font-size: 16px;
    line-height: 10px;
    font-weight: bold;

}
.weather-forecast-emoji{
    font-size: 25px;
    text-align: center;

}
.weather-forecast-temp{
    text-align: center;
    color: #dc3545;
    display: flex;
    justify-content: center;



}
.weather-forecast-temp1{
    padding: 0 5px;
    margin: 5px;
}

footer{
    border-top: 1px solid #eae0e0;
    padding: 30px 0 0 0;
    text-align: center;
    font-size: 13px;
    color: solid rgba(0, 0, 0, 0.6);

}