body {
    background-color: #eae0e0;
     font-family: "Roboto", sans-serif;

}
.my-app{
    background-color: whitesmoke;
    max-width: 600px;
    margin: 30px auto;
    box-shadow: 0 30px 50px #7f69e914;
    padding: 30px;
    border-radius: 16px;

}